.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.top-bar {
    background-color: darkgray;
    height: 25px;
    display: flex;
    align-items: center;
}
.logo {
    float: left;
    width: 16%;
    height: 180px;
    background-color: rgba(255, 223, 65, 0.919);
}
.header-right {
    background-color: rgb(255, 212, 138);
    height: 180px;
    width: 84%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    margin-left: 5%;
}
.info span {
    color: #6d6a6a;
}
.log_out {
    display: inline-block;
    background-color: white;
    border: 1px solid #000;
    margin-right: 5%;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
.log_out:hover {
  color: #dc3131;
  box-shadow: inset 2px 2px 10px #bcbcbc,
        inset -2px -2px 10px #ffffff,
        2px 2px 2px 10px #bcbcbc,
        -2px -2px 10px #ffffff;
}
.menu {
    background-color: rgb(235, 160, 74);
    min-height: 761px;
    width: 16%;
    float: left;
}
.menu a {
    width: 42%;
    display: block;
    font-size: large;
    color: rgb(255, 255, 255); 
    margin: 10% 8%;
    padding: 3% 20%;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.4s ease;
}
.menu img {
    width: 70%;
    
}
.menu a:hover, .menu a.active {
    background-color: #ffd859;
    color: #000;
    transform: scale(1.05);
}
.content {
    background-color: beige;
    height: 761px;
    width: 84%;
    float: right;
    box-sizing: border-box;
}
.content-head {
    display: flex;
    align-items: center;
    gap: 57%;
}
h2 {
    margin-left: 50px;
    margin-top: 25px;
}
.add {
    width: 16%;
    font-size: 16px;
    justify-content: right;
    background-color: #ebb668cc;
    border: none;
    padding: 15px 15px;
    border-radius: 40px;
    font-weight: bold;
    margin-bottom: 9px;
    margin-top: 15px;
    margin-left:10px;
    cursor: pointer;
    transition: transform 0.4s;
    box-shadow: inset 4px 4px 10px #bcbcbc,
        inset -4px -4px 10px #ffffff,}
.add img {
    width: 20%;
    height: 15%;
    vertical-align: middle;
}
.add img:hover{
    filter: invert(1);
}
.add:hover {
    color: #ae1165;
    box-shadow: inset 2px 2px 10px #bcbcbc,
    inset -2px -2px 10px #ffffff,
        -1px -1px 5px #ffffff;
}
table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    display: block;
    margin-left: 50px;
}
table td, table th {
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    border-radius: 50px;
    width: 1%;
}
table th {
    background-color: #f2f2f2;
}
table th, #name_acc {
    white-space: nowrap;
}
table img {
    width: 20%;
    height: 20%;
  vertical-align: middle;
}
body{
    margin:0px ;
}